{% extends "base.html.twig" %}
{% block title %}
My account
{% endblock %}
{% block css %}
"{{ SERVER_URI }}/assets/css/account.css"
{% endblock %}
{% block content %}
<div class="container">
    <div id="c_parent_register" class="columns is-centered is-desktop is-vcentered is-flex-touch">
        <div class="column is-6 c_register">
            <h2 class="title is-2 has-text-centered">Personnal Informations</h2>
            <form novalidate id="form_user" method="POST">
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <input  class="input" type="text" name="u_first_name" id="f_name" value="{{ user.1 }}" placeholder="Enter first name">
                            </div>
                            <p id="check_firstname" class="verif"></p>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input  class="input" type="text" name="u_last_name" id="l_name" value="{{ user.2 }}" placeholder="Enter last name">
                            </div>
                            <p id="check_lastname" class="verif"></p>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input" type="text" name="u_phone" id="phone" value="{{ user.3 }}" placeholder="Enter phone">
                            </div>
                            <div id="check_phone" class="verif"></div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <input  class="input" type="password" name="u_password" placeholder="Old password" id="password">
                            </div>
                            <div id="check_password" class="verif"></div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input  class="input" type="password" name="password_new" placeholder="New password" id="password_new">
                            </div>
                            <div id="check_password_new" class="verif"></div>
                        </div>       
                        <div class="field">
                            <div class="control">
                                <input  class="input" type="password" name="password_confirm" placeholder="Confirm password" id="password_confirm">
                            </div>
                            <div id="check_password_confirm" class="verif"></div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <p class="control">
                        <input type="submit" class="input button is-centered is-medium" name="register" value="Confirm">
                    </p>
                </div>
            </form>
            <div class="field has-text-centered">
                <p class="control">
                    <a class="button" href=" {{ SERVER_URI }}">
                        Cancel
                    </a>
                  </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scriptjs %}
    <script src="{{ SERVER_URI }}/assets/js/form_user.js" type="module"></script>
{% endblock %}

